<footer>
   <div class="f-info">
    <div class="f-socials">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-linkedin"></i>
    </div>
    <div class="f-content">
    &copy;Wanderlust Private Limited
    </div>
    <div class="privacy">
        <a href="/privacy">Privacy</a>
        <a href="/privacy">Terms</a>
    </div>
   </div>
</footer>